.section {
  display: grid;
  row-gap: fluid(56, 29);
  padding-bottom: fluid(104, 64);

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    &>.icon {
      color: var(--color-accent);
    }
  }
}
