.field {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: fluid-to-laptop(16, 12);

  &__label {
    font-size: fluid-to-laptop(18, 16);
    font-weight: 700;
    color: var(--color-white);
  }

  &__required-star {
    color: var(--color-accent);
  }

  &__control {
    width: fluid(411, 280);
    height: 48px;
    padding-inline: 17px;
    color: var(--color-black);
    font-size: 14px;
    background-color: var(--color-input-bg);
    border: 2px solid transparent;
    border-radius: var(--border-radius);

    @include mobile {
      width: 100%;
    }

    @include hover {
      border: 2px solid var(--color-input-border-hover);
    }

    &:user-invalid {
      border: 1px solid red;
    }

    &:disabled {
      @include disabled;
    }

    &::placeholder {
      color: var(--color-input-placeholder);
      font-weight: 400;
    }
  }

  textarea.field__control {
    min-height: 144px;
    padding-block: 14px;
    resize: vertical;
  }
}
