.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-block: fluid(32, 24);
  height: fluid(359, 206);
  background: url("/src/assets/images/footer/bg.jpg") center/cover no-repeat;
}
